<div class="container">
  <div class="thanks-box text-center">
    <div class="thanks">
      <h5>お問い合わせありがとうございました</h5>
    </div>
    <p class="mt-3">
      返信にはお時間をいただく場合がございます。<br>
      ご迷惑をおかけいたしますが、予めご了承いただきますようお願い申し上げます。
    </p>
  </div>
</div>