/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');

a {
  text-decoration: none;
  color: black;
}

body {


}




/*ヘッダー背景色 */
.navbar {
 background-color: #bdc6b7;
}
/* ヘッダー日本語フォント */
.navbar-nav {
 font-family: 'Kaisei HarunoUmi', serif;
}

/* ヘッダーの文字調整 */
.nav-link {
  display: inline-block;
	padding: 0.3em;
	transition: .3s;
	transform: scale(1);
	color: #F4511E;
}

.nav-link:hover {
  transform: scale(1.2);
}

/* ヘッダーロゴ*/
.header_logo {
 font-family: 'Philosopher', sans-serif;
 font-size: 1.2rem;
 color: #196989;
}


/*ページ背景 */

.bg {
  background-image: image-url("");
  background-size: cover;
  background-repeat: no-repeat;

}


/* 募集系のカードヘッダー*/

.card-header {
  background-color: #bdc6b7;
}

/* 募集系のカード外枠*/
.card {
  border: 8px double black;
}

/*検索フォーム */

.select-form {

}

/*検索ボタン */

#search-btn {
  color: #70769d;
}

/*エリアとジャンルで探す,大喜利見出し*/

.title_search {
  position: relative;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
}
.title_search:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid #a69d44;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*検索ボックスの位置 */

.search_box {
  margin-left: 40px;
}

/*募集一覧・検索結果の見出し */

.sub-title {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

.sub-title:before, .sub-title:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

.sub-title:before {
  left:0;
}
.sub-title:after {
  right: 0;
}

/*投稿ボタン */

.btn_answer {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #1c315d;
  color: #FFF;
  border-bottom: solid 4px black;
  border-radius: 5px;
}

.btn_answer:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}


/*paginationの位置 */

.pagination {
  justify-content: center;
}

/*paginationの文字色 */

.pagination li a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号(active)*/

.pagination .active a.page-link {
  background-color: #bdc6b7;
  border-radius: 15px;

}

/*ホバー時*/
.pagination li a:hover {
  border-radius: 15px;
}
