

/* theme/indexのお題部分 */
.theme_box {
  　padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #1c315d;
    background: #FFF;
    border: solid 3px #1c315d;
    border-radius: 10px;
}

.theme_box p {
    margin: 0;
    padding: 0;
}