
/*users/showの囲い部分 */

.user_box {
  padding: 0.5em 1em;
  margin-top: 30px;
  margin-bottom: 10px;
  border: 8px double black;
}

/*通知のフラグ */

.unchecked {
  color: #9f385b;
}

.answer_link {
  margin-left: 14px;
}