
/*users/showの囲い部分 */

.user_box {
  padding: 0.5em 1em;
  margin-top: 30px;
  margin-bottom: 10px;
  border: 8px double black;
}

/*通知のフラグ */

.checked {
  margin-left: 2px;
}

.unchecked {
  color: #9f385b;
  margin-left: 2px;
}

/*大喜利一覧へ */
.answer_link {
  margin-left: 10px;
}

/*マイページ名前部分 */

.my_name {
  display: inline-block;
  position: relative;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 40px;
  font-size: 16px;
  background: #788897;
  color: #FFF;
  box-sizing: border-box;
}

.my_name:before, .my_name:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.my_name:before {
  top: 0;
  left: 0;
  border-width: 25px 0px 25px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.my_name:after {
  top: 0;
  right: 0;
  border-width: 25px 15px 25px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

/*自己紹介部分 */

.introduction {
  font-size: 0.9rem;
  text-align: center;
  border: 8px double black;
  border-radius: 0.7rem;
}

.introduction_content {
  padding-top: 10px;
}

/*新規登録・ログインフォーム*/

.form-wrapper {
  margin: 1.5em auto;
  padding: 3em 1em 3em 1em;
  max-width: 450px;
  border: 10px solid #788897;
  border-radius: 10px;
}

.form-wrapper h4 {
  text-align: center;
  padding: 0.5em 0;
}

.form {
padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

input:-webkit-autofill { /*オートコンプリート時の色を水色→白*/
    box-shadow: 0 0 0 1000px white inset;
}

.button-panel {
  margin: 2em auto; /*ボタン中央寄せと上下に幅*/
  width: 70%; /*ボタン幅 */
}

.button-panel .button {
  background: #788897;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 35px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button-panel .button:hover {
  background: #b0717e;
}

/*「次回から自動ログインのフォント」 */
.login-auto {
  font-size: 0.9em;
}

/*新規登録、ログイン見出し */
.sign-up, .sign-in {
    padding: 0.5em 1em;
    margin: 2em;
    font-weight: bold;
    color: black;
    background: #FFF;
    border: solid 5px #788897;
    border-radius: 15px;
}

.sign-up h5, .sign-in h5 {
    margin: 0;
    padding: 0;
}

/*フォロー・フォロワー一覧*/
.follow-box {
  border: 3px solid #788897;
  border-radius: 10px;
  padding: 40px 10px 10px 10px;
}

/*グラフの「合計スコア」*/

.total_chart {
  font-size: 1.2em;
}

/*退会画面の「退会すると～」の文言 */

.unsubscribe-alert {
  display: inline-block;
  border-top: 3px solid #b0717e;
  border-bottom: 3px solid #b0717e;
}