<p><%= @resource.email %>様</p>

<p>パスワードの再設定を承りました。以下のリンクをクリックし 新しいパスワードをご登録ください。</p>

<p><%= link_to 'パスワード変更', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールの内容にお心当たりがない場合は、ご放念いただけますと幸いです。</p>
<p>リンクの有効期限は6時間です。</p>
